gestures/trunk/schema/gestures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Line">
		<xs:complexType>
			<xs:attribute name="to" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0,0"/>
						<xs:enumeration value="0,1"/>
						<xs:enumeration value="1,0"/>
						<xs:enumeration value="1,1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="from" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0,0"/>
						<xs:enumeration value="0,1"/>
						<xs:enumeration value="1,0"/>
						<xs:enumeration value="1,1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Gesture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Algorithm" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="element"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="rectangle"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Line" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="string">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DLUR"/>
						<xs:enumeration value="DRUL"/>
						<xs:enumeration value="LDRU"/>
						<xs:enumeration value="LURD"/>
						<xs:enumeration value="RDLU"/>
						<xs:enumeration value="RULD"/>
						<xs:enumeration value="ULDR"/>
						<xs:enumeration value="URDL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1_1"/>
						<xs:enumeration value="2_1"/>
						<xs:enumeration value="2_2"/>
						<xs:enumeration value="2_3"/>
						<xs:enumeration value="2_4"/>
						<xs:enumeration value="2_5"/>
						<xs:enumeration value="2_6"/>
						<xs:enumeration value="2_7"/>
						<xs:enumeration value="2_8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Algorithm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Boundary Box Algorithm"/>
						<xs:enumeration value="Direction Algorithm"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
